<div class="container">
  <div class="cards">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <div class="card-artwork">
          <%= cl_image_tag artwork.photo.key, height: 400, width: 300, crop: :fill if artwork.photo.attached?%>
          <div class="card-artwork-infos">
            <div>
              <h2><%= artwork.artist %></h2>
              <p><%= artwork.name %></p>
            </div>
            <h2 class="card-artwork-pricing"><%= artwork.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
